

  // max-width: 800px;
  // margin: 0 auto;

  // &--sm {
  //   max-width: 600px;
  // }
  select {
    border-radius: 40px !important;
    .custom-select {
      border-radius: 40px !important;
    }
  }

  .form-control {
    border-radius: 40px;  
  }
  
  textarea.form-control {
    border-radius: 0.4rem;
  }


  @include media-breakpoint-up(md) {
    .form-group {
      display:flex;
      flex-direction: row;
      align-items: center;
      flex-wrap:wrap;
      .form-label {
        flex: 0 0 150px;
        color:$dark;
        flex-grow:0;
      }
      .form-control, select  {
       flex-grow:1;
       width:auto;
      }
      .input-group {
        flex-grow:1;
        width:auto;
      }
      .form-text {
        margin-left:170px;
        flex: 0 0 100%;
      }
      .custom-control-label{
        color:$dark;
      }
      .text_optional {
        padding-left:20px;
        max-width:160px;
        font-size: 16px;
        width:160px;
        line-height: 18px;
      }
    }
  }

.user-form {
  .nav {
    .nav-item {
      .nav-link {
        font-size: 20px;
        text-transform: uppercase;
        font-weight:700;
        &:after {
          display: block;
          content: '';
          border-bottom: solid 3px $primary;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
          margin-top: 0px;
        }
        &:hover:after, &.active:after {
          transform: scaleX(1);    
        }
        .active, &:focus {
          color:$primary;
        }
    
      }
    }
  }
}

.create_info {
  padding-top: 10px;
  .form-informations {
    &-title {
      font-size:20px;
    }
    &-subtitle {
      font-size:20px;
    }
    // &-option {

    // }
  }
}



